---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

h1 {
    margin-bottom: 1em;
}

.about {
    margin-bottom: 2em;
}

.contact {
    margin-bottom: 2em;
 }

 .map {
     margin-bottom: 4em;
 }

 .slider ul {
     list-style-type: none;
 }

 .slider li + li {
     display: none;
     border-radius: 4px;
 }

 .map-source {
     color: #ccc;
     text-align: right;
     font-size: 0.5rem;
 }

 .ellipsis-link {
     color: #bbb;
 }

 .ellipsis-link:hover {
     color: #aaa;
 }
.theme-inverse {
    //background-image: url("/public/backgrounds/IMG_2200.JPG");
}

/* Inverse theme */
.theme-inverse .sidebar,
.theme-inverse .sidebar a {
  background: none;
  color: #000;
  /* color: #ffffff; mix-blend-mode: difference; */
}
.theme-inverse .content a,
.theme-inverse .related-posts li a:hover {
  color: #aa759f;
}

.about {
    padding-top: 1.5em;
}
