---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

h1 {
    margin-bottom: 2em;
}

.about {
    margin-bottom: 2em;
}

.contact {
    margin-bottom: 2em;
 }

 .map {
     margin-bottom: 4em;
 }

 .map-source {
     color: #ccc;
     text-align: right;
     font-size: 0.5rem;
 }

 .ellipsis-link {
     color: #bbb;
 }

 .ellipsis-link:hover {
     color: #aaa;
 }
