---
layout: default
title: Blogi
---

{% if paginator.page == 1 %}
<h1>
  <img src="{{ site.baseurl }}public/images/logo_dark.png"
       alt="Hacklab Mikkeli" />
</h1>

<div class="about">
    Avoin ja yhteisöllinen työtila tieteestä, teknologiasta ja
    digitaalisesta taiteesta kiinnostuneille Mikkelissä &bull; an open and
    community-based workspace for people with interest in science, technology
    and digital arts in Mikkeli
</div>

<div class="contact">
    <dl>
        <dt>Osoite &bull; Address</dt>
        <dd>Pietarinkatu 23 e 22 (käynti Yrjönkadun puolelta &bull; access from Yrjönkatu)</dd>
        <dt>Koordinaatit &bull; Coordinates</dt>
        <dd>N 61&deg; 41' 36", E 27&deg; 15' 44"</dd>
        <dt>IRC</dt>
        <dd><a href="http://webchat.freenode.net/?nick=vieras_...&channels=hacklabmikkeli&prompt=1">#hacklabmikkeli@Freenode</a></dd>
        <dt>Avoinna &bull; Open</dt>
        <dd>Torstaisin &bull; Thursdays 17:00&mdash;</dd>
    </dl>
</div>

<div class="map">
    <img src="{{ site.baseurl }}public/images/map.png" />
    <p class="map-source">
        &copy;
        <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>
        contributors
    </p>
</div>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    <a class="ellipsis-link" href="{{ post.url }}">
      Lue lisää &bull; read more...
    </a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
