    <!-- Previous/next page links - only displayed on page 2+ -->
    <div class="extra-pagination inner">
        {% if page.class == 'home-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'page-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
    </div>

    {% if paginator.page == 1 %}
    {% if page.current == 'home' %}
    <article class="post">
        <header class="post-header">
           <h2 class="post-title"><a href="#">Tule mukaan toimintaan</a></h2>
        </header>
        <section class="post-excerpt">
          <br/>
            <ul>
              <li>Osoite &bull; Address: <b>Pietarinkatu 23 (käynti Yrjönkadun puolelta &bull; access from Yrjönkatu)</b></li>
              <li>Sähköposti &bull; Email: <b>hallitus аt mikkeli dоt hacklab dоt fi</b></li>
              <li>Avoimet ovet &bull; Open house: <b>Torstaisin &bull; Thursdays 17:00&ndash;</b></li>
              <li><a href="https://hacklabmikkeli.yhdistysavain.fi/liity-jaseneksi/" >Hae jäsenyyttä &bull; Apply for membership</a></li>
              <li><a href="https://hacklabmikkeli.yhdistysavain.fi/jasensivut/" >Jäsenille &bull; For members</a></li>
            </ul>
            <br>
            <div class="map">
                <a href="http://osm.org/go/0x9tWfvsE-?m=">
                    <img src="{{ site.baseurl }}public/images/map.png" />
                </a>
                <p class="map-source">
                    &copy;
                    <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>
                    contributors
                </p>
            </div>
        </section>

<h2 id="mikahacklab">Mikä hacklab?</h2>

<p>Hacklabit ovat fyysisiä tiloja, joissa tieteestä, teknologiasta ja digitaalisesta taiteesta kiinnostuneet voivat tavata, viettää aikaa yhdessä ja tehdä joko henkilökohtaisia tai yhteisiä harrastetöitä.</p>

<p>Hacklab voi toimia myös yhteistyössä oppilaitosten ja liike-elämän toimijoiden kanssa tarjoten paikan vapaamuotoiseen kokeilemiseen ja innovatiiviseen yhteistyöhön. Perusperiaatteita ovat vapaus kokeilla, vapaaehtoisuuteen perustuva organisoituminen ja tasa-arvoisuus.</p>

<p>Suomessa toimii tällä hetkellä Mikkelin lisäksi 13 hacklabia. Lisätietoa Suomen muiden hacklabien toiminnasta löydät osoitteesta <a href="http://hacklab.fi/">hacklab.fi</a>.</p>

<h2 id="hacklabmikkeli">Hacklab Mikkeli?</h2>

<p>Hacklab-toiminta Mikkelissä käynnistyi syksyllä 2014 ja ilmoitus yhdistyksen perustamisesta jätettiin 19.2.2015. Nykyisiin tiloihin Pietarinkadulla päästiin muuttamaan huhtikuun 2015 alussa. Tilamme sijaitsee Kaukolan kaupunginosassa, noin kilometrin päässä torilta, osoitteessa Pietarinkatu 23. Sisäänkäynti tilaan on Yrjönkadun puolella.</p> 

<p>Kaikki ovat tervetulleita mukaan toimintaamme. Ikärajoituksia tai osaamisvaatimuksia meillä ei ole, vaan pelkkä kiinnostus toimintaa kohtaan riittää. Parhaan käsityksen toiminnastamme ja sen mahdollisuuksista vapaa-ajan harrastusvaihtoehtona saat vierailemalla hacklabilla. Hacklabilla on <b>avoimet ovet (ns. keskiviikko-hack) joka torstai klo 17 alkaen</b>.</p>

<p>Yhdistyksen jäsenyyttä voit hakea täyttämällä <a href="https://hacklabmikkeli.yhdistysavain.fi/liity-jaseneksi/">liittymislomakkeen</a>. Yhdistyksen hallitus käsittelee jäsenhakemukset mahdollisimman ripeästi ja lähettää uusille jäsenille kattavan tietopaketin.</p>

<p>Yhdistyksen jäsenyys oikeuttaa sinut ryhtymään kuukausijäseneksi, mikä mahdollistaa 24/7-pääsyn hacklabin tiloihin sekä oikeuden säilyttää omia projekteja hacklabin tiloissa.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfi!2sfi!4v1444644168604!6m8!1m7!1sfFfEZGVBQk0hhuyQbtij5A!2m2!1d61.69336630668235!2d27.26287428670665!3f271.04785057574526!4f-19.484795258875508!5f0.7820865974627469" style="width:100%;height:600px;" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>Hacklab Mikkelin työtilojen ja -välineiden käyttöperiaatteet ovat melko yksinkertaiset: Älä tee mitään tyhmää. Jos et tiedä jotain, kysy.</p>

<p>Kannustamme oma-aloitteisuuteen <a href="https://www.noisebridge.net/wiki/Do-ocracy">Do-ocracyn</a> mukaan:</p>

<blockquote>If you want something done, do it, but remember to be excellent to each other when doing so.</blockquote>

<h2 id="hacklabmikkeliry">Hacklab Mikkeli ry</h2>

<p>Hacklab-yhteisön toiminnan mahdollistamiseksi on perustettu ja rekisteröity yhdistys Hacklab Mikkeli ry. Yhdistys on perustettu palvelemaan yhteisön tahtoa ja tavoitteita &ndash; ei päinvastoin. Yhdistys toimii yhteisöä edustavana oikeushenkilönä ja on tehnyt siinä roolissa myös vuokrasopimuksen nykyisistä tiloista. Yhdistys voi myös hakea ja anoa erilaisia avustuksia. </p>

<p><img src="{{ site.baseurl }}public/images/kulttuurikannustin.png" alt="Mikkelin kulttuuripalvelut - KulttuuriKannustin" /></p>

<p>Maaliskuussa 2015 Hacklab Mikkeli ry. sai Mikkelin kaupungilta 1000 euron KulttuuriKannustin-palkinnon.</p>

<p>Huhtikuussa 2015 Fuugin säätiö <a href="http://fuug.fi/2015/hacklab-mikkelin-varustaminen/">myönsi</a> 2000 euron avustuksen tilojen varusteluun.</p>
    </article>
    {% else %}
    <!-- This is the post loop - each post will be output using this markup -->
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url | remove: '/' }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{ post.content | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ site.baseurl }}{{ post.url | remove: '/' }}">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            {% if site.image %}<img class="author-thumb" src="{{ site.baseurl }}{{ site.image }}" alt="Author image" nopin="nopin" />{% endif %}
            <!-- author -->
            {{ site.author }}
            <!-- [[tags prefix=" on "]] -->
            {% if post.tags.size > 0 %} 
                on 
                {% for tag in post.tags %}
                    {% if forloop.index == post.tags.size %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                    {% else %}
                       <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                    {% endif %}   
                {% endfor %}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
        </footer>
    </article>
    {% endfor %}
    {% endif %}
    {% endif %}

    <!-- Previous/next page links - displayed on every page -->
    {% if page.class == 'home-template' %}
    {% elsif page.class == 'page-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
        {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
        {% include tag_pagination.html %}
    {% else %}
        {% include post_pagination.html %}
    {% endif %}
